<app-header></app-header>


<div class="down-banner container-fluid row row-cols-1 row-cols-md-3 g-4 p-5">
    <div class="col" *ngFor="let servicio of listaServicios">
        <div class="card h-100">
            <img src="https://previews.123rf.com/images/oligliya/oligliya1606/oligliya160600017/58292971-concepto-de-dibujos-animados-veterinario-ilustraci%C3%B3n-del-vector-del-perro-veterinaria-concepto-de-icono.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ servicio }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>