<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink="inicio" href="#">
            <img mdbWavesEffect src="../../../assets/img/Logo de patazas-02.png" alt="" width="50" height="50">
        </a>
    </mdb-navbar-brand>



    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <!--ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <h5 class="nav-link  m-auto  navbar-brand ">{{ authService.usuario.nombres }} {{ authService.usuario.apellidos }} </h5>
            </li>

        </ul-->
        <!-- Links -->

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/productos">Nuestros Productos</a>
            </li>

            <li class="nav-item" *ngIf="(authService.isAuthenticated())" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/pedidos">Pedidos Clientes</a>
            </li>

            <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/usuarios"> Crud de Usuarios</a>
            </li>

            <li class="nav-item" *ngIf="(authService.isAuthenticated())" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/historia-clinica"> Historial de Mascotas</a>
            </li>

            <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_VENDEDOR')" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/crud-producto"> Crud de Productos</a>
            </li>

            <li class="nav-item" *ngIf="(!authService.isAuthenticated())" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/registro-cliente"> Registrarse</a>
            </li>

            <li class="nav-item" *ngIf="(authService.isAuthenticated())" routerLinkActive="active">
                <a class="nav-link " mdbWavesEffect routerLink="/registro-mascota"> Registra a tu Mascota</a>
            </li>

            <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_VENDEDOR')" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/crud-servicio"> Crud de Servicios</a>
            </li>
        </ul>

        <app-estado-carrito></app-estado-carrito>

        <ul class="navbar-nav nav-flex-icons">

            <li class="nav-item" *ngIf="(!authService.isAuthenticated()) else elseBlock">
                <a class="nav-link" routerLink="/login" mdbWavesEffect>
                    <mdb-icon id="sign-in" fas size="2x" fas icon="user-circle"></mdb-icon>
                </a>

            </li>

            <ng-template #elseBlock>

                <li class="nav-item dropdown mr-3" *ngIf="(authService.isAuthenticated())" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <i class="fas fa-user-alt fa-1x mr-2"></i><span class="caret"></span>Profile</a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary " role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="datos-personales"><i class="fas fa-user-edit mr-2"></i> Datos Personales</a>

                        <hr class="dropdown-divider" />


                        <a class="dropdown-item waves-light d-flex" mdbWavesEffect routerLink="/login" (click)="logout()" mdbWavesEffect>
                                Logout <mdb-icon class="ml-auto mt-auto mb-auto" fas icon="sign-in-alt"></mdb-icon>
                            </a>

                    </div>
                </li>
            </ng-template>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->