.navbar {
    z-index: 100;
    width: 100%;
    position: relative;
    display: flex;
}

.nav-item {
    width: auto;
    display: flex;
}

.nav-item>a {
    width: auto;
    margin: auto;
}

nav {
    display: flex;
}

.navbar>div {
    min-width: 100%;
}

#sig-in[routerLink] {
    outline: none;
    text-decoration: none;
    background-color: red;
    cursor: pointer;
}