<div class="row col-12">

    <app-sidebar></app-sidebar>


    <div class="row col-10 d-flex ml-auto mr-auto">


        <div class="row col-12 ml-auto mr-auto justify-content-center">
            <!-- Card -->
            <mdb-card *ngFor="let servicio of servicios; let i = index" class="col-xl-3 col-lg-3 col-md-10 col-sm-12 col-xs-12 m-2" style="height: 500px">

                <div class="view rgba-white-slight waves-light" [routerLink]="['/servicios/detalle-servicio', servicio.idservicio]">
                    <!-- Card img -->
                    <img class="img-fluid ml-auto mr-auto" [attr.src]="(servicio.foto1 != null || servicio.foto1 != undefined) ? servicio.foto1 : imgNotFound" alt="Card image cap">
                </div>
                <!--Card content-->
                <mdb-card-body [routerLink]="['/servicios/detalle-servicio', servicio.idservicio]">
                    <!--Title-->
                    <mdb-card-title>
                        <h3>{{ servicio.nombre }}</h3>
                    </mdb-card-title>
                    <!--Text-->
                    <mdb-card-text>
                        <h1 class="card-text text-center">S/.{{ servicio.precio}}</h1>
                        <p class="card-text" style="text-align: justify;" [innerHTML]="servicio.descripcion"></p>
                    </mdb-card-text>

                </mdb-card-body>

                <button (click)="addToCart(servicio)" class="btn-card" mdbBtn color="primary" mdbWavesEffect>Agregar</button>
            </mdb-card>

            <!-- Card -->
        </div>

    </div>
</div>