<div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
    Tu Carrito de compras está vacio.
</div>

<div class="container mt-5">
    <table mdbTable [hidden]="(cartItems.length == 0)">
        <thead class="text-center">
            <tr>
                <th>#</th>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Marca</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" mdbTableCol *ngFor="let item of cartItems">
                <th scope="row">{{ item.id }}</th>
                <th scope="row"><img [src]="item.imageUrl" width="50px" height="50px"></th>
                <td scope="row">{{ item.nombre }}</td>
                <td scope="row">{{ item.marca }}</td>
                <td>
                    <div class="">

                        <button class="add mr-2" mdbWavesEffect (click)="incrementCantidad(item)">
                            <mdb-icon class="m-auto white-text" fas icon="plus"></mdb-icon>
                        </button> {{ item.cantidad }}
                        <button class="minus ml-2 white-text" mdbWavesEffect (click)="decrementCantidad(item)"><mdb-icon class="m-auto" fas icon="minus"></mdb-icon></button>

                        <ng-template #Remove>
                            <div>Eliminar</div>
                        </ng-template>




                        <p><button placement="right" triggers="hover" [mdbPopover]="Remove" class="remove white-text" mdbWavesEffect (click)="removeItem(item)"><mdb-icon fas icon="trash"></mdb-icon></button></p>
                    </div>

                    <p class="mt-2">Subtotal: S/.{{ item.cantidad * item.precioUnit | number }}</p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="text-center">
                <td colspan="4"></td>
                <td style="font-weight: bold">
                    <p>Cantidad total: {{ cantidadTotal }}</p>
                    <p>Envio gratis</p>
                    <p>Precio Total: S/.{{ precioTotal | number}}</p>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<!--div class="row col-12 d-inline-flex justify-content-center p-5">
    <main class="col-4 m-4">
        <div class="card col-12">
            <div class="card-body">
                <img class="img-fluid" src="../../../../assets/img/antipulgas.png">

                <button class="btn btn-primary m-2" marcador="1">+</button>
                <button class="btn btn-danger m-2" marcador="1">-</button>
            </div>
        </div>
    </main>

    <aside class="row col-4 d-flex m-4">
        <div class="col-12">
            <h2>{{ producto.nombre }}</h2>
            <h2 [innerHTML]="nomMarca"></h2>
            <hr>
            <h3>Indicaciones</h3>
            <div [innerHTML]="descripcion"></div>
        </div>
        <div class="col-12  ">
            <h2>Carrito</h2>
           
            <ul id="carrito" class="list-group"></ul>
            <hr>
          
            <h5 class="text-right">Cantidad : <span id="total"></span> 1</h5>
            <h5 class="text-right">Total: <span id="total"></span>S/.{{ producto.precio }}</h5>
            <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
        </div>
    </aside>
</div-->