<div class="container mt-5">
    <!--button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Usuario
  </button*-->

    <button type="button" class="btn btn-primary crud" (click)="openModalCrud('agregar')">Agregar Producto</button>

    <div class="card border-primary mb-5 container mt-5">

        <div class="card-header row text-primary">
            <h2>Listado de Productos</h2>
        </div>

        <div class="card-body text-secondary table-responsive align-middle">



            <table class="table table-responsive-md  text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Handle</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <th class="align-middle">{{ producto.idproducto }}</th>
                        <th class="align-middle"><img class="img-fluid me-auto ms-auto" [src]="producto.foto2" width="50px" height="50px"></th>
                        <th class="align-middle">{{ producto.nombre }}</th>
                        <th class="align-middle">{{ producto.precio }}</th>
                        <th class="align-middle">{{ producto.descripcion }}</th>
                        <th class="align-middle">{{ producto.marca.nombre }}</th>

                        <td class="align-middle"><button type="button" mdbBtn color="primary" mdbWavesEffect class="crud " (click)="modalDetalle(producto)">Detalle</button></td>
                        <td class="align-middle"><button type="button" mdbBtn color="warning" mdbWavesEffect class="crud" value="Detalle" (click)="openModalCrud('editar',producto.idproducto)">Editar</button></td>

                        <td class="align-middle"><button type="button" mdbBtn color="danger" mdbWavesEffect class="btn btn-danger btn-sm px-3" value="Eliminar" (click)="delete(producto)">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div mdbModal #modalDetail="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>



            </div>
            <div class="modal-body mx-3">

                <div [innerHTML]="ProDescrip"></div>
                <div [innerHTML]="ProNom"></div>
                <div [innerHTML]="ProMarca"></div>


            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="default" class="waves-light" (click)="modalDetail.hide()" mdbWavesEffect>Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div mdbModal #contentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fluid" role="document">
        <div class="modal-content p-5">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarmodal">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <form id="form-producto" [formGroup]="myform" (ngSubmit)="verificarDatos()" class="" enctype="multipart/form-data">


                    <fieldset class="row ml-auto mr-auto" formGroupName="name">


                        <div class="col-md-4">
                            <div class="form-group col-12">

                                <input type="text" class="form-input" [(ngModel)]="producto.idproducto" formControlName="IdProducto" required hidden>
                                <div class="form-control-feedback" *ngIf="IdProducto.errors && (IdProducto.dirty || IdProducto.touched)">
                                    <p class="alert alert-danger" role="alert" *ngIf="IdProducto.errors.required">Codigo incorrecto</p>
                                </div>

                            </div>


                            <div class="form-group col-12">
                                <label>Nombre</label>
                                <input type="text" [ngClass]="{
                                'is-invalid': (Nombre.errors?.required && submitted) || ((Nombre.dirty || Nombre.touched) && Nombre.invalid ),
                                'is-valid': Nombre.valid && (Nombre.dirty || Nombre.touched)
                              }" class="form-control" [(ngModel)]="producto.nombre" formControlName="Nombre" required>

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Nombre.errors && Nombre.errors.required && submitted) || ((Nombre.dirty || Nombre.touched) && Nombre.invalid )">Nombre is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Indicaciones</label>

                                <textarea [ngClass]="{
                                    'is-invalid': (Indicaciones.errors?.required && submitted) || ((Indicaciones.dirty || Indicaciones.touched) && Indicaciones.invalid ),
                                    'is-valid': Indicaciones.valid && (Indicaciones.dirty || Indicaciones.touched)
                                  }" class="form-control" [(ngModel)]="producto.indicaciones" formControlName="Indicaciones" required></textarea>
                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Indicaciones.errors?.required && submitted) || ((Indicaciones.dirty || Indicaciones.touched) && Indicaciones.invalid )">Descripcion is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>


                            <div class="form-group col-12">
                                <label>Precio</label>
                                <input type="text" [ngClass]="{
                                    'is-invalid': (Precio.errors?.required && submitted) || ((Precio.dirty || Precio.touched) && Precio.invalid ),
                                    'is-valid': Precio.valid && (Precio.dirty || Precio.touched)
                                  }" class="form-control" [(ngModel)]="producto.precio" formControlName="Precio" required>

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Precio.errors?.required && submitted) || ((Precio.dirty || Precio.touched) && Precio.invalid )">Precio is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Serie</label>
                                <input type="text" [ngClass]="{
                                    'is-invalid': (Serie.errors?.required && submitted) || ((Serie.dirty || Serie.touched) && Serie.invalid ),
                                    'is-valid': Serie.valid && (Serie.dirty || Serie.touched)
                                  }" class="form-control" [(ngModel)]="producto.serie" formControlName="Serie" required>

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Serie.errors?.required && submitted) || ((Serie.dirty || Serie.touched) && Serie.invalid )">Serie is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Stock</label>
                                <input type="text" [ngClass]="{
                                    'is-invalid': (Stock.errors?.required && submitted) || ((Stock.dirty || Stock.touched) && Stock.invalid ),
                                    'is-valid': Stock.valid && (Stock.dirty || Stock.touched)
                                  }" class="form-control" [(ngModel)]="producto.stock" formControlName="Stock" required>

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Stock.errors?.required && submitted) || ((Stock.dirty || Stock.touched) && Stock.invalid )">Stock is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>





                            <div class="form-group col-12">
                                <label>Marca</label>

                                <select class="w-100 " [(ngModel)]="producto.marca" [compareWith]="compareMarca" formControlName="Marca" required>
                                       
                                        <option class="" [ngValue]="undefined" aria-hidden="aria-hidden" selected>--- selecionar una marca ---</option>

                                       
                                        <option *ngFor="let mar of marca" [ngValue]="mar" > {{ mar.nombre  }}</option>
                                   
                                       
                                    </select>

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf="(Marca.errors?.required && submitted) || ((Marca.dirty || Marca.touched) && Marca.invalid )">Marca is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>




                            <!--  PROVEEDOR  -->

                            <div class="form-group col-12">
                                <label>Proveedor</label>

                                <select class="w-100" [(ngModel)]="producto.proveedor" [compareWith]="compareProveedor" formControlName="IdProveedor" required>
                                        <option [ngValue]="undefined" selected>--- selecionar un proveedor ---</option>
                                        <option *ngFor="let prov of proveedor" [ngValue]="prov" > {{ prov.razon_social  }}</option>
                                </select>
                                <div class="">
                                    <p class="alert-danger" *ngIf="(IdProveedor.errors?.required && submitted) || ((IdProveedor.dirty || IdProveedor.touched) && IdProveedor.invalid )">Proveedor is required</p>

                                </div>
                            </div>

                            <!--  CATEGORIA  -->

                            <div class="form-group col-12">
                                <label>Categoria</label>

                                <select class="w-100" [(ngModel)]="producto.categoria" [compareWith]="compareCategoria" formControlName="IdCategoria" required>
                                        
                                        <option [ngValue]="undefined" selected>--- selecionar una categoria ---</option>
                                        <option *ngFor="let cate of categoria" [ngValue]="cate" > {{ cate.descripcion  }}</option>
                                    
                                </select>


                                <div class="">
                                    <p class="alert-danger" *ngIf="(IdCategoria.errors?.required && submitted) || ((IdCategoria.dirty || IdCategoria.touched) && IdCategoria.invalid )">Categoria is required</p>

                                </div>
                            </div>

                        </div>

                        <!---------------  TEXTE AREA Y FOTO   ------------------->

                        <div class="col-md-8">

                            <div class="form-group col-12 mt-auto mb-auto">
                                <label>Descripcion</label>

                                <angular-editor [config]="editorConfig" [ngClass]="{
                            'is-invalid': (Descripcion.errors?.required && submitted) || ((Descripcion.dirty || Descripcion.touched) && Descripcion.invalid ),
                            'is-valid': Descripcion.valid && (Descripcion.dirty || Descripcion.touched)
                          }" class="" [(ngModel)]="producto.descripcion" formControlName="Descripcion" required>
                                </angular-editor>


                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Descripcion.errors?.required && submitted) || ((Descripcion.dirty || Descripcion.touched) && Descripcion.invalid )">Descripcion is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>




                            <div class="form-group col-12">
                                <label>foto</label>


                                <div class="col-12">
                                    <img id="imgFoto" [src]="producto.foto2" class="img-fluid me-auto ms-auto" width="600px" height="300px">
                                </div>




                                <input type="file" id="file-id" (change)="showPreviewImage($event)" formControlName="foto" required [ngClass]="{
                                    'is-invalid': (foto.errors?.required && submitted) || ((foto.dirty || foto.touched) && foto.invalid ),
                                    'is-valid': foto.valid && (foto.dirty || foto.touched)
                                  }" class="form-control">

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (foto.errors?.required && submitted) || ((foto.dirty || foto.touched) && foto.invalid )">Stock is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>

                        </div>


                    </fieldset>

                </form>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn m-4" aria-label="Close" (click)="cerrarmodal()">
                    Cancelar
                  </button>

                <button type="submit" (click)="verificarDatos()" class="m-4" *ngIf="producto.idproducto == 0; else elseBlock">
                    Registrar
                  </button>

                <ng-template #elseBlock>
                    <button type="" role="button" (click)="verificarDatos()" class="m-4" [disabled]="myform.invalid">
                      Actualizar
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>