<div class="container-fluid mt-5">
    <!--button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Usuario
  </button*-->

    <button type="button" class="btn btn-primary crud" (click)="openModalCrud('agregar')">Agregar Producto</button>

    <div class="card border-primary mb-5 container-fluid mt-5">

        <div class="card-header row text-primary">
            <h2>Listado de Productos</h2>
        </div>

        <div class="card-body text-secondary table-responsive align-middle">



            <table class="table table-responsive-md  text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Marca</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <th class="align-middle">{{ producto.idproducto }}</th>
                        <th class="align-middle"><img mdbWavesEffect (click)="modalDetalle(producto)" [src]="producto.foto1" width="50px" height="50px"></th>
                        <th class="align-middle">{{ producto.nombre }}</th>
                        <th class="align-middle">{{ producto.precio }}</th>
                        <th class="align-middle">{{ producto.marca.nombre }}</th>

                        <!--td class="align-middle"><button type="button" mdbBtn color="primary" mdbWavesEffect (click)="modalDetalle(producto)">Detalle</button></td-->
                        <td class="align-middle"><button type="button" mdbBtn color="warning" mdbWavesEffect (click)="openModalCrud('editar',producto)">Editar</button></td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div mdbModal #modalDetail="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center text-white cyan">
                <h4 class="modal-title w-100 font-weight-bold">{{producto.nombre}}</h4>

            </div>
            <div class="modal-body mx-3">
                <div class="row col-12 mb-auto mt-auto">

                    <div class="col-6">


                        <div class="mb-3">
                            <h3>Descripción:</h3>
                            <h5 [innerHTML]="ProDescrip"></h5>
                        </div>
                        <div class="mb-3">
                            <h3>Categoria:</h3>
                            <h5 [innerHTML]="ProCategoria"></h5>
                        </div>

                        <div class="mb-3">
                            <h3>Marca:</h3>
                            <h5 [innerHTML]="ProMarca"></h5>
                        </div>

                        <div class="mb-3">
                            <h3>Precio:</h3>

                            <h5>S/. {{producto.precio}}</h5>
                        </div>

                    </div>




                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="default" class="waves-light" (click)="cerrarmodalDetalle()" mdbWavesEffect>Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div mdbModal #contentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white text-center">

                <h4 class="modal-title w-100 font-weight-bold" id="myModalLabel">{{titulo}}</h4>
            </div>

            <div class="modal-body">

                <form id="form-producto" [formGroup]="myform" (ngSubmit)="verificarDatos()" class="" enctype="multipart/form-data">


                    <fieldset class="row ml-auto mr-auto" formGroupName="name">


                        <div class="col-md-4">
                            <div class="form-group col-12">

                                <input type="text" class="form-input" [(ngModel)]="producto.idproducto" formControlName="IdProducto" required hidden>
                                <div class="form-control-feedback" *ngIf="IdProducto.errors && (IdProducto.dirty || IdProducto.touched)">
                                    <p class="alert alert-danger" role="alert" *ngIf="IdProducto.errors.required">Codigo incorrecto</p>
                                </div>

                            </div>


                            <div class="form-group col-12">
                                <label>Nombre</label>
                                <input type="text" [ngClass]="{
                                'is-invalid': (Nombre.errors?.required && submitted) || ((Nombre.dirty || Nombre.touched) && Nombre.invalid ),
                                'is-valid': Nombre.valid && (Nombre.dirty || Nombre.touched)
                              }" class="form-control" [(ngModel)]="producto.nombre" formControlName="Nombre" required>

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Nombre.errors && Nombre.errors.required && submitted) || ((Nombre.dirty || Nombre.touched) && Nombre.invalid )">Nombre is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Indicaciones</label>

                                <textarea [ngClass]="{
                                    'is-invalid': (Indicaciones.errors?.required && submitted) || ((Indicaciones.dirty || Indicaciones.touched) && Indicaciones.invalid ),
                                    'is-valid': Indicaciones.valid && (Indicaciones.dirty || Indicaciones.touched)
                                  }" class="form-control" [(ngModel)]="producto.indicaciones" formControlName="Indicaciones" required></textarea>
                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Indicaciones.errors?.required && submitted) || ((Indicaciones.dirty || Indicaciones.touched) && Indicaciones.invalid )">Descripcion is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>


                            <div class="form-group col-12">
                                <label>Precio</label>
                                <input type="text" [ngClass]="{
                                    'is-invalid': (Precio.errors?.required && submitted) || ((Precio.dirty || Precio.touched) && Precio.invalid ),
                                    'is-valid': Precio.valid && (Precio.dirty || Precio.touched)
                                  }" class="form-control" [(ngModel)]="producto.precio" formControlName="Precio" required>

                                <div class="form-control-feedback w-100" *ngIf="(Precio.errors && submitted) || (Precio.dirty || Precio.touched) && Precio.invalid">
                                    <p class="alert alert-danger" *ngIf="Precio.errors.required">Precio is required</p>
                                    <p class="alert alert-danger" *ngIf="Precio.errors.pattern">Formato incorrecto, solo enteros o numero con 2 decimales </p>
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Serie</label>
                                <input type="text" [ngClass]="{
                                    'is-invalid': (Serie.errors?.required && submitted) || ((Serie.dirty || Serie.touched) && Serie.invalid ),
                                    'is-valid': Serie.valid && (Serie.dirty || Serie.touched)
                                  }" class="form-control" [(ngModel)]="producto.serie" formControlName="Serie" required>

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Serie.errors?.required && submitted) || ((Serie.dirty || Serie.touched) && Serie.invalid )">Serie is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <label>Stock</label>
                                <input type="text" [ngClass]="{
                                    'is-invalid': (Stock.errors?.required && submitted) || ((Stock.dirty || Stock.touched) && Stock.invalid ),
                                    'is-valid': Stock.valid && (Stock.dirty || Stock.touched)
                                  }" class="form-control" [(ngModel)]="producto.stock" formControlName="Stock" required>

                                <div class="form-control-feedback w-100" *ngIf="(Stock.errors && submitted) || (Stock.dirty || Stock.touched) && Stock.invalid">
                                    <p class="alert alert-danger" *ngIf="Stock.errors.required">Stock is required</p>
                                    <p class="alert alert-danger" *ngIf="Stock.errors.pattern">Formato incorrecto, solo números enteros </p>
                                </div>
                            </div>


                            <div class="form-group col-12">
                                <label>Marca</label>

                                <select class="w-100 form-control" [ngClass]="{
                                    'is-invalid': (Marca.errors?.required && submitted) || ((Marca.dirty || Marca.touched) && Marca.invalid ),
                                    'is-valid': Marca.valid && (Marca.dirty || Marca.touched)
                                  }" [(ngModel)]="producto.marca" [compareWith]="compareMarca" formControlName="Marca" required>
                                       
                                        <option class="" [ngValue]="undefined" aria-hidden="aria-hidden" selected>--- selecionar una marca ---</option>

                                       
                                        <option *ngFor="let mar of marca" [ngValue]="mar" > {{ mar.nombre  }}</option>
                                   
                                       
                                    </select>

                                <div class="m-0">
                                    <p class="alert-danger" *ngIf="(Marca.errors?.required && submitted) || ((Marca.dirty || Marca.touched) && Marca.invalid )">Marca is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>




                            <!--  PROVEEDOR  -->

                            <div class="form-group col-12">
                                <label>Proveedor</label>

                                <select [ngClass]="{
                                    'is-invalid': (IdProveedor.errors?.required && submitted) || ((IdProveedor.dirty || IdProveedor.touched) && IdProveedor.invalid ),
                                    'is-valid': IdProveedor.valid && (IdProveedor.dirty || IdProveedor.touched)
                                  }" class="w-100 form-control" [(ngModel)]="producto.proveedor" [compareWith]="compareProveedor" formControlName="IdProveedor" required>
                                        <option [ngValue]=null selected>--- selecionar un proveedor ---</option>
                                        <option *ngFor="let prov of proveedor" [ngValue]="prov" > {{ prov.razon_social  }}</option>
                                </select>
                                <div class="">
                                    <p class="alert-danger" *ngIf="(IdProveedor.errors?.required && submitted) || ((IdProveedor.dirty || IdProveedor.touched) && IdProveedor.invalid )">Proveedor is required</p>

                                </div>
                            </div>

                            <!--  CATEGORIA  -->

                            <div class="form-group col-12">
                                <label>Categoria</label>

                                <select [ngClass]="{
                                    'is-invalid': (IdCategoria.errors?.required && submitted) || ((IdCategoria.dirty || IdCategoria.touched) && IdCategoria.invalid ),
                                    'is-valid': IdCategoria.valid && (IdCategoria.dirty || IdCategoria.touched)
                                  }" class="w-100 form-control" [(ngModel)]="producto.categoria" [compareWith]="compareCategoria" formControlName="IdCategoria" required>
                                        
                                        <option [ngValue]=null selected>--- selecionar una categoria ---</option>
                                        <option *ngFor="let cate of categoria" [ngValue]="cate" > {{ cate.descripcion  }}</option>
                                    
                                </select>


                                <div class="">
                                    <p class="alert-danger" *ngIf="(IdCategoria.errors?.required && submitted) || ((IdCategoria.dirty || IdCategoria.touched) && IdCategoria.invalid )">Categoria is required</p>

                                </div>
                            </div>

                        </div>

                        <!---------------  TEXTE AREA Y FOTO   ------------------->

                        <div class="col-md-8">

                            <div class="form-group col-12 mt-auto mb-auto">
                                <label>Descripcion</label>

                                <angular-editor [config]="editorConfig" [ngClass]="{
                            'is-invalid': (Descripcion.errors?.required && submitted) || ((Descripcion.dirty || Descripcion.touched) && Descripcion.invalid ),
                            'is-valid': Descripcion.valid && (Descripcion.dirty || Descripcion.touched)
                          }" class="" [(ngModel)]="producto.descripcion" formControlName="Descripcion" required>
                                </angular-editor>


                                <div class="m-0">
                                    <p class="alert-danger" *ngIf=" (Descripcion.errors?.required && submitted) || ((Descripcion.dirty || Descripcion.touched) && Descripcion.invalid )">Descripcion is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>




                            <div class="form-group col-12">
                                <label>foto</label>


                                <!--div class="col-12">
                                    <img id="imgFoto1" *ngIf="producto" [attr.src]="producto.foto1" class="img-fluid me-auto ms-auto p-2" width="200px" height="200px">
                                    <img id="imgFoto2" *ngIf="producto" [attr.src]="producto.foto2" class="img-fluid me-auto ms-auto p-2" width="200px" height="200px">
                                    <img id="imgFoto3" *ngIf="producto" [attr.src]="producto.foto3" class="img-fluid me-auto ms-auto p-2" width="200px" height="200px">
                                </div-->

                                <div class="mr-auto ml-auto col-6">
                                    <mdb-carousel [animation]="'slide'">
                                        <mdb-carousel-item>
                                            <img class="d-block w-100" [attr.src]="(producto.foto1 != null || producto.foto1 != undefined) ? producto.foto1 : myImgUrl" height="400px" alt="First slide">
                                        </mdb-carousel-item>
                                        <mdb-carousel-item>
                                            <img class="d-block w-100" [attr.src]="(producto.foto2 != null || producto.foto2 != undefined) ? producto.foto2 : myImgUrl" height="400px" alt="Second slide">
                                        </mdb-carousel-item>
                                        <mdb-carousel-item>
                                            <img class="d-block w-100" [attr.src]="(producto.foto3 != null || producto.foto3 != undefined) ? producto.foto3 : myImgUrl" height="400px" alt="Third slide">
                                        </mdb-carousel-item>
                                    </mdb-carousel>
                                </div>

                                <div class="d-inline-flex justify-content-center w-100 mt-5">
                                    <div class="photo">
                                        <label for="photo1" class="w-100">        
                                    <mdb-icon fas size="3x" icon="camera"></mdb-icon></label>
                                        <input type="file" id="photo1" (change)="showPreviewImage1($event)" name="foto1" required class="form-control" hidden>
                                    </div>

                                    <div class="photo">
                                        <label for="photo2" class="w-100">        
                                    <mdb-icon  fas size="3x" icon="camera"></mdb-icon></label>
                                        <input type="file" id="photo2" (change)="showPreviewImage2($event)" name="foto2" required class="form-control" hidden>
                                    </div>

                                    <div class="photo">
                                        <label for="photo3" class="w-100">        
                                    <mdb-icon  fas size="3x" icon="camera"></mdb-icon></label>
                                        <input type="file" id="photo3" (change)="showPreviewImage3($event)" name="foto3" required class="form-control" hidden>
                                    </div>
                                </div>



                                <!--input type="file" id="file-id3" (change)="showPreviewImage3($event)" name="foto3" required [ngClass]="{
                                    'is-invalid': (foto3.errors?.required && submitted) || ((foto3.dirty || foto3.touched) && foto3.invalid ),
                                    'is-valid': foto3.valid && (foto3.dirty || foto3.touched)
                                  }" class="form-control"-->

                                <div class="m-0">
                                    <!--p class="alert-danger" *ngIf=" (foto3.errors?.required && submitted) || ((foto3.dirty || foto3.touched) && foto3.invalid )">Stock is required</p-->
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>

                        </div>


                    </fieldset>



                </form>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" mdbBtn color="secondary" mdbWavesEffect class="waves-light" aria-label="Close" (click)="cerrarmodal()">
                    Cancelar
                  </button>

                <button type="submit" mdbBtn color="secondary" mdbWavesEffect class="waves-light" (click)="verificarDatos()" *ngIf="producto.idproducto == 0; else elseBlock">
                    Registrar
                  </button>

                <ng-template #elseBlock>
                    <button type="" role="button" mdbBtn color="secondary" mdbWavesEffect class="waves-light" (click)="verificarDatos()" [disabled]="myform.invalid">
                      Actualizar
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>