img {
    width: 150px;
    height: 150px;
}

.view:hover {
    cursor: pointer;
}

.card-body:hover {
    cursor: pointer;
}


/*body {
    font-family: sans-serif;
}

.respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

.respmenu input[type="checkbox"],
.respmenu .fa-bars,
.respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.respmenu .fa-bars,
.respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
    cursor: pointer;
}

.respmenu input[type="checkbox"] {
    opacity: 0;
}

.respmenu {
    color: white;
    position: relative;
    background: #123456;
    min-height: 48px;
    max-width: 15vw;
    cursor: pointer;
}

.respmenu nav {
    display: none;
    cursor: pointer;
}

.respmenu input:checked~nav {
    display: block;
    cursor: pointer;
}

.respmenu input:checked~.fa-bars {
    display: none;
    cursor: pointer;
}

.respmenu input:not(:checked)~.fa-times {
    display: none;
    cursor: pointer;
}*/