<div class="container mt-5">

    <div *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_VETERINARIO')"
        class="row col-12 p-0 m-0 mb-5">

        <label class="ml-3 col-5" for="cars">Filtrar por DNI Cliente: </label>
        <div class="row col-12 m-auto">

            <div class="d-flex col-8">
                <input id="DniUser" class="form-control col-6" [(ngModel)]="userDni" type="text">
                <div class="col-2" aria-label="Basic example">
                    <button (click)="filtrarMascotasDeUsuarioPorDni()" class="btn btn-info ml-4"
                        type="button">Buscar</button>
                </div>
            </div>

            <input [(ngModel)]="userNombres" class="form-control col-4 ml-auto" id="nomCliente " type="text " disabled>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
                <label for="search">Buscar</label>
            </div>
        </div>
    </div>

    <table mdbTable #tableEl="mdbTable" mdbTableScroll scrollX="true" maxWidth="100vw" class="p-0 m-0">
        <thead>
            <tr>
                <th scope="col "># Historial</th>
                <th scope="col ">Nom. Mascota</th>
                <th scope="col ">Tipo</th>
                <th scope="col ">Color </th>
                <th scope="col ">Edad </th>
                <th scope="col ">Edad </th>
                <th scope="col ">Edad </th>
                <th scope="col ">Historial</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let mascota of mascotas; let i = index">




                <td class="align-middle"
                    *ngIf="i+1 >= mdbTablePagination?.firstItemIndex && i < mdbTablePagination?.lastItemIndex">{{
                    mascota.idmascota }}</td>
                <td class="align-middle"
                    *ngIf="i+1 >= mdbTablePagination?.firstItemIndex && i < mdbTablePagination?.lastItemIndex">
                    <img class="photo" [src]="mascota.foto != null ? mascota.foto : myImgUrl" width="50px"
                        height="50px" />
                </td>
                <td class="align-middle"
                    *ngIf="i+1 >= mdbTablePagination?.firstItemIndex && i < mdbTablePagination?.lastItemIndex">{{
                    mascota.nombre }}</td>
                <td class="align-middle"
                    *ngIf="i+1 >= mdbTablePagination?.firstItemIndex && i < mdbTablePagination?.lastItemIndex">{{
                    mascota.raza.descripcion }}</td>
                <td class="align-middle"
                    *ngIf="i+1 >= mdbTablePagination?.firstItemIndex && i < mdbTablePagination?.lastItemIndex">{{
                    mascota.fecha_nacimiento }}</td>
                <td class="align-middle"
                    *ngIf="i+1 >= mdbTablePagination?.firstItemIndex && i < mdbTablePagination?.lastItemIndex">{{
                    mascota.sexo }}</td>
                <td class="align-middle"
                    *ngIf="i+1 >= mdbTablePagination?.firstItemIndex && i < mdbTablePagination?.lastItemIndex">{{
                    mascota.tipomascota.descripcion }}</td>
                <td class="align-middle"
                    *ngIf="i+1 >= mdbTablePagination?.firstItemIndex && i < mdbTablePagination?.lastItemIndex">
                    <mdb-icon (click)="mostrarHistorial(mascota)" type="button" size="2x" far icon="file-alt">
                    </mdb-icon>
                </td>
                <!--td class="text-center">
                            <mdb-icon (click)="delete(mascota)" type="button" fas size="2x" icon="user-alt"></mdb-icon>
                            <p>Estado</p>
                        </td-->
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="4">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="mascotas"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<div id="table-historial" class="container  ml-auto mr-auto mt-5">



    <div class="container mb-5 "> Consultas de <input id="nomMascota" value="" class="col-4 sub_input display-4"
            type="text" disabled>
        <button class="btn btn-info mt-5" data-toggle="modal" data-bs-target="#modalContactForm"
            (click)="openModalConsulta('agregar')">agregar nueva
            consulta...</button>
    </div>

    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col ">Codigo</th>
                <th scope="col ">Estado</th>
                <th scope="col ">Fecha Creación</th>
                <th scope="col ">Fecha Modificación</th>
                <th scope="col "></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consulta of consultas; let i = index">
                <th class="align-middle">{{ consulta.idconsulta }}</th>
                <th class="align-middle">{{ consulta.estado }}</th>
                <td class="align-middle">{{ consulta.fecha_atencion | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <td class="align-middle">{{ consulta.fecha_modificacion | date:'dd-MM-yyyy HH:mm:ss'}}</td>



                <td class="align-middle">
                    <mdb-icon (click)="openModalConsulta('actualizar',consulta)" type="button" size="2x" far
                        icon="file-alt">
                    </mdb-icon>
                </td>
                <!--td class="text-center">
                    <mdb-icon (click)="delete(mascota)" type="button" fas size="2x" icon="user-alt"></mdb-icon>
                    <p>Estado</p>
                </td-->
            </tr>
        </tbody>
    </table>

</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary  text-center">
                <h4 class="modal-title w-100 text-white font-weight-bold">Historial</h4>
            </div>
            <div class="modal-body mx-3">
                <form id="form-producto" [formGroup]="myform" class="">


                    <fieldset class="row ml-auto mr-auto" formGroupName="name">


                        <div class="col-md-6">

                            <div class="form-group col-12">

                                <input type="text" class="form-control" [(ngModel)]="consultaMascota.idconsulta"
                                    formControlName="IdConsulta" required hidden>
                                <div class="form-control-feedback"
                                    *ngIf="IdConsulta.errors && (IdConsulta.dirty || IdConsulta.touched)">
                                    <p class="alert alert-danger" role="alert" *ngIf="IdConsulta.errors.required">Codigo
                                        incorrecto</p>
                                </div>

                            </div>




                            <div class="form-group col-12">
                                <label>Estado</label>

                                <select id="select-estado" class="form-control pl-3 pr-3"
                                    [(ngModel)]="consultaMascota.estado" formControlName="Estado" required>
                                    <option [ngValue]="null" selected>
                                        --- selecione estado de consulta ---
                                    </option>
                                    <option *ngFor="let est of status" [ngValue]="est">
                                        {{ est }}
                                    </option>

                                    |
                                </select>

                                <div class="form-control-feedback">
                                    <p class="alert alert-danger" *ngIf="
                        (Estado.errors?.required && submitted) ||
                        ((Estado.dirty || Estado.touched) && Estado.invalid)
                      ">
                                        Estado is required
                                    </p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>

                        </div>











                        <!---------------  TEXTE AREA Y FOTO   ------------------->

                        <div class="col-md-6 ml-auto">

                            <div class="form-group col-12 mt-auto mb-auto">
                                <label>Diagnostico</label>

                                <angular-editor [config]="editorConfig" [ngClass]="{
                            'is-invalid': (Descripcion.errors?.required && submitted) || ((Descripcion.dirty || Descripcion.touched) && Descripcion.invalid ),
                            'is-valid': Descripcion.valid && (Descripcion.dirty || Descripcion.touched)
                          }" class="" [(ngModel)]="consultaMascota.diagnostico" formControlName="Descripcion" required>
                                </angular-editor>


                                <div class="m-0">
                                    <p class="alert-danger"
                                        *ngIf=" (Descripcion.errors?.required && submitted) || ((Descripcion.dirty || Descripcion.touched) && Descripcion.invalid )">
                                        Descripcion is required</p>
                                    <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                                </div>
                            </div>
                        </div>


                    </fieldset>



                </form>

            </div>

            <div class="modal-footer d-flex justify-content-center">

                <button type="button" mdbBtn color="secondary" mdbWavesEffect class="waves-light" aria-label="Close"
                    (click)="cerrarmodal()">
                    Cancelar
                </button>

                <button type="submit" mdbBtn color="secondary" mdbWavesEffect class="waves-light"
                    (click)="verificarDatos()">
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>