<div class="container-fluid p-5">
    <h4>Mis Pedidos</h4>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
                <label for="search">Search</label>
            </div>
        </div>
    </div>
    <table mdbTable #tableEl="mdbTable" striped="true" class="z-depth-1">
        <thead class="bg-secondary text-bolder">
            <tr class="text-center">
                <th class="text-bolder" scope="col">ID</th>
                <th class="text-bolder" scope="col">FECHA DEL PEDIDO</th>
                <th class="text-bolder" scope="col">DESCRIPCIÓN</th>
                <th class="text-bolder" scope="col">DETALLE</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let el of elements; let i = index">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.idpedido}}</th>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.fecha_pedido | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.descripcion}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    <mdb-icon style="cursor: pointer;" mdbWavesEffect far icon="file-alt" size="2x" [routerLink]="['/pedido/detalle-pedido', el.idpedido]"></mdb-icon>
                </td>

            </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
            <tr>
                <td colspan="4">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>



<!--div class="container p-5">
    <h4>Mis Pedidos</h4>
    <table mdbTable striped="true">
        <thead>
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">FECHA DEL PEDIDO</th>
                <th scope="col"></th>
                <th scope="col">DETALLE</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let pedido of pedidos">
                <th scope="row">{{pedido.idpedido}}</th>
                <td>{{pedido.fecha_pedido | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                <td>NO SE</td>
                <td>
                    <mdb-icon style="cursor: pointer;" mdbWavesEffect far icon="file-alt" size="2x" [routerLink]="['/pedido/detalle-pedido', pedido.idpedido]"></mdb-icon>
                </td>

            </tr>
        </tbody>
    </table>

    <p></p>
</div-->