<div class="">
    <form [formGroup]="myform" class="row col-md-10 mr-auto ml-auto justify-content-center">



        <h5 class="mt-5 ">REGISTRO DE CLIENTE</h5>


        <p class="col-12 mt-5">Nota: Su username de acceso sera su DNI</p>

        <fieldset class="row col-12 mt-1">



            <div class="md-form col-4">

                <select [ngClass]="{
                    'is-invalid': Depart.invalid && (Depart.dirty || Depart.touched),
                    'is-valid': Depart.valid && (Depart.dirty || Depart.touched)
                  }" (ngModelChange)="onChangeDepart($event)" class="form-control pl-3 pr-3" [ngModel]="de" [formControl]="Depart" required>                        
                            <option [ngValue]=undefined selected>--- selecionar un departamento ---</option>
                                <option *ngFor="let depart of departamentos" [ngValue]="depart" > {{ depart  }} </option>
                           
                            </select>
                <div class="pl-3">
                    <mdb-error class="pl-3 mt-2" *ngIf="(Depart.errors && submitted ) ||((Depart.dirty || Depart.touched) && Depart.invalid)">
                        Seleccione su departamento
                    </mdb-error>
                </div>

            </div>

            <div class=" md-form col-4">
                <select [ngClass]="{
                    'is-invalid': (Prov.invalid ) && (Prov.dirty || Prov.touched),
                    'is-valid': Prov.valid && (Prov.dirty || Prov.touched)
                  }" (ngModelChange)="onChangeProv($event)" class="form-control pl-3 pr-3" [ngModel]="pr" [formControl]="Prov" required>                        
                                <option [ngValue]=undefined selected>--- selecionar una provincia ---</option>
                                    <option *ngFor="let prov of provincias" [ngValue]="prov" > {{ prov  }} </option>
                               
                </select>
                <div class="pl-3">
                    <mdb-error class="pl-3 mt-2" *ngIf="(Prov.errors && submitted ) || ((Prov.dirty || Prov.touched) && Prov.invalid)">
                        Seleccione su provincia
                    </mdb-error>
                </div>
            </div>

            <div class=" md-form col-4">

                <select [ngClass]="{
                    'is-invalid':  ((IdUbi.invalid ) && (IdUbi.dirty || IdUbi.touched)),
                    'is-valid': (IdUbi.valid ) && (IdUbi.dirty || IdUbi.touched)
                  }" class="form-control pl-3 pr-3" [(ngModel)]="usuario.ubigeo" [compareWith]="compareUbigeo" [formControl]="IdUbi" required>                        
                    <option [ngValue]=undefined selected>--- selecionar una región ---</option>
                        <option *ngFor="let region of distritos" [ngValue]="region" > {{ region.distrito  }}</option>
                   
                    </select>

                <div class="pl-3">
                    <mdb-error class="pl-3 mt-2" *ngIf="(IdUbi.errors && submitted ) ||((IdUbi.dirty || IdUbi.touched) && IdUbi.invalid)">
                        Seleccione su distrito
                    </mdb-error>
                </div>

            </div>

            <div class="md-form col-4">

                <input type="text" class="form-input form-control" id="nomForm" mdbInput mdbValidate [(ngModel)]="usuario.nombres" [formControl]="Nombres" required>
                <label class="pl-3">Nombres</label>
                <div class="pl-3" *ngIf="(Nombres.errors && submitted ) ||((Nombres.dirty || Nombres.touched) && Nombres.invalid)">

                    <mdb-error class="pl-3 mt-2" *ngIf="Nombres.errors.required ">Nombres is required</mdb-error>
                    <mdb-error class="pl-3 mt-2" *ngIf="Nombres.errors.pattern ">Nombres invalido </mdb-error>
                </div>

            </div>


            <div class="md-form col-4">

                <input type="text" class="form-control" mdbInput mdbValidate [(ngModel)]="usuario.apellidos" [formControl]="Apellidos" required>
                <label class="pl-3">Apellidos</label>
                <div class="pl-3" *ngIf="(Apellidos.errors && submitted ) ||((Apellidos.dirty || Apellidos.touched) && Apellidos.invalid)">

                    <mdb-error class="pl-3 mt-2" *ngIf="Apellidos.errors.required ">Correo is required</mdb-error>
                    <mdb-error class="pl-3 mt-2" *ngIf="Apellidos.errors.pattern ">Patron invalido </mdb-error>
                </div>
            </div>



            <div class="md-form col-4">

                <input type="text" class="form-control" mdbInput mdbValidate [(ngModel)]="usuario.dni" [formControl]="Dni" required>
                <label class="pl-3">DNI</label>

                <div class="pl-3" *ngIf="(Dni.errors && submitted ) || ((Dni.dirty || Dni.touched) && Dni.invalid)">

                    <mdb-error class="pl-3 mt-2" *ngIf="Dni.errors.required ">DNI is required</mdb-error>
                    <mdb-error class="pl-3 mt-2" *ngIf="Dni.errors.pattern ">Patron invalido </mdb-error>
                    <mdb-error class="pl-3 mt-2" *ngIf="Dni.errors.stark">EL DNI YA ESTA REGISTRADO </mdb-error>

                </div>


            </div>

            <div class="md-form col-4">

                <input type="text" class="form-control" mdbInput mdbValidate [(ngModel)]="usuario.telefono" [formControl]="Telef" required>
                <label class="pl-3">Telefono</label>
                <div class="pl-3" *ngIf="(Telef.errors && submitted ) ||((Telef.dirty || Telef.touched) && Telef.invalid)">

                    <mdb-error class="pl-3 mt-2" *ngIf="Telef.errors.required ">Correo is required</mdb-error>
                    <mdb-error class="pl-3 mt-2" *ngIf="Telef.errors.pattern ">Patron invalido </mdb-error>
                </div>
            </div>

            <div class="md-form col-4">

                <input type="text" class="form-control" mdbInput mdbValidate [(ngModel)]="usuario.direccion" [formControl]="Direc" required>
                <label class="pl-3">Dirección</label>
                <div class="pl-3" *ngIf="(Direc.errors && submitted ) ||((Direc.dirty || Direc.touched) && Direc.invalid)">

                    <mdb-error class="pl-3 mt-2" *ngIf="Direc.errors.required ">Correo is required</mdb-error>
                    <mdb-error class="pl-3 mt-2" *ngIf="Direc.errors.pattern ">Patron invalido </mdb-error>
                </div>

            </div>

            <div class="md-form col-4">

                <input type="text" class="form-control" mdbInput mdbValidate [(ngModel)]="usuario.correo" [formControl]="Correo" required>
                <label class="pl-3">Correo</label>
                <div class="pl-3" *ngIf="(Correo.errors && submitted ) ||((Correo.dirty || Correo.touched) && Correo.invalid)">

                    <mdb-error class="pl-3 mt-2" *ngIf="Correo.errors.required ">Correo is required</mdb-error>
                    <mdb-error class="pl-3 mt-2" *ngIf="Correo.errors.pattern ">Patron invalido </mdb-error>
                </div>
            </div>

            <div class="md-form col-4">

                <input type="date" class="form-control" id="form58" mdbInput mdbValidate [(ngModel)]="usuario.fechaNac" [formControl]="FechaNac" required>
                <label class="pl-3" for="form58">Fecha Nacimiento</label>
                <div class="pl-3" *ngIf="(FechaNac.errors && submitted ) ||((FechaNac.dirty || FechaNac.touched) && FechaNac.invalid)">
                    <mdb-error class="pl-3 mt-2" *ngIf="FechaNac.errors.required ">Fecha de Nacimiento is required</mdb-error>
                </div>
            </div>

            <div class=" md-form col-4">
                <mdb-icon fas icon="unlock envelope" class="prefix"></mdb-icon>
                <input type="password" class="form-control" mdbInput mdbValidate [(ngModel)]="usuario.password" [formControl]="Password" required>
                <label class="pl-3">Password</label>
                <div class="pl-3" *ngIf="(Password.errors && submitted ) || ((Password.dirty || Password.touched) && Password.invalid)">

                    <mdb-error class="pl-3 mt-2" *ngIf="Password.errors.required ">Password is required</mdb-error>
                    <mdb-error class="pl-3 mt-2" *ngIf="Password.errors.pattern ">Patron invalido </mdb-error>

                </div>
            </div>

        </fieldset>




        <div class="btn-group w-100 justify-content-center d-flex" role="group" aria-label="Basic example">



        </div>
        <button type="submit" mdbBtn color="primary" class="waves-light" (click)="verificarDatos()" mdbWavesEffect>Registrar</button>

    </form>
</div>