* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

//Color Variables
$sidebar-background-color: #313443;
$active-sidebar-link-color: #22252E;
$hover-sidebar-link-color: $active-sidebar-link-color;
$active-link-color: #98D7EC;
$tooltip-background-color: $sidebar-background-color;
.sidebar-navigation {
    min-height: 100vh;
    width: 120px;
    background-color: $sidebar-background-color;
    float: left;
    ul {
        min-height: 100vh;
        text-align: center;
        color: white;
        li {
            padding: 25px 0;
            cursor: pointer;
            transition: all ease-out 120ms;
            i {
                display: block;
                font-size: 24px;
                transition: all ease 450ms;
            }
            .tooltip {
                display: inline-block;
                z-index: 60000000;
                position: absolute;
                background-color: $tooltip-background-color;
                padding: 8px 15px;
                border-radius: 3px;
                margin-top: -26px;
                left: 140px;
                font-size: 13px;
                letter-spacing: .5px;
                &:before {
                    content: '';
                    position: absolute;
                    visibility: visible;
                    left: -4px;
                    top: 10px;
                    transform: rotate(45deg);
                    width: 10px;
                    height: 10px;
                    background-color: inherit;
                    background-color: $tooltip-background-color;
                }
            }
            &:hover {
                background-color: $hover-sidebar-link-color;
                .tooltip {
                    visibility: visible;
                    opacity: 1;
                }
            }
            &.active {
                background-color: $active-sidebar-link-color;
                i {
                    color: $active-link-color;
                }
            }
        }
    }
}