<nav class="sidebar-navigation">
    <ul>
        <li class="" mdbWavesEffect routerLink="/tienda/productos">
            <a class="waves-light ml-2 mb-2 text-white text-bolder">Productos</a>
            <br>
            <mdb-icon fas icon="angle-double-right"></mdb-icon>
            <span class="tooltip">Productos</span>

        </li>
        <li mdbWavesEffect routerLink="/tienda/servicios">
            <a class="waves-light ml-2 mb-2 text-white text-bolder">Servicios</a>
            <br>
            <mdb-icon fas icon="angle-double-right"></mdb-icon>
            <span class="tooltip">Servicios</span>
        </li>
    </ul>
</nav>