<div *ngIf="cartItems.detallesProducto.length == 0 && cartItems.detallePedidoServicio.length == 0"
    class="alert alert-warning col-md-12" role="alert">
    Tu Carrito de compras está vacio.
</div>



<div class="container-fluid row col-12 mt-5">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="card border-primary p-2 mb-5" [hidden]="(cartItems.detallesProducto.length == 0)">
            <div class="table-responsive">
                <table class="table" style="width:100%">

                    <thead class="text-center">
                        <tr>
                            <th></th>
                            <th>Producto</th>
                            <th>Marca</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" mdbTableCol *ngFor="let item of cartItems.detallesProducto">




                            <th><img [attr.src]="(item.producto?.foto1 != null || item.producto?.foto1 != undefined) ? item.producto?.foto1 : myImgUrl"
                                    width="50px" height="50px"></th>
                            <td>{{ item.producto.nombre }}</td>
                            <td>{{ item.producto.marca.nombre }}</td>
                            <td>
                                <div class="">

                                    <button class="minus ml-2 white-text" mdbWavesEffect
                                        (click)="decrementCantidad(item)">
                                        <mdb-icon class="m-auto" fas icon="minus">
                                        </mdb-icon>
                                    </button> {{ item.cantidad }}
                                    <button class="add mr-2" mdbWavesEffect (click)="incrementCantidad(item)">
                                        <mdb-icon class="m-auto white-text" fas icon="plus"></mdb-icon>
                                    </button>


                                    <ng-template #Remove>
                                        <div>Eliminar</div>
                                    </ng-template>

                                </div>


                            </td>
                            <td>
                                <p class="mt-2">S/.{{ item.cantidad * item.precio | number }}</p>
                            </td>
                            <td>
                                <a placement="bottom" triggers="hover" [mdbPopover]="Remove"
                                    class="remove white-text p-2" mdbWavesEffect (click)="removeItem(item)">
                                    <mdb-icon fas icon="trash"></mdb-icon>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>



        <div class="card border-primary p-2" [hidden]="(cartItems.detallePedidoServicio.length == 0)">
            <div class="table-responsive">
                <table class="table" style="width:100%">
                    <thead class="text-center">
                        <tr>


                            <th></th>
                            <th>Servicio</th>
                            <th>Día Atención</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="text-center" mdbTableCol
                            *ngFor="let item of cartItems.detallePedidoServicio; let i=index ">


                            <th><img [attr.src]="(item.servicio?.foto1 != null || item.servicio?.foto1 != undefined) ? item.servicio?.foto1 : myImgUrl"
                                    width="50px" height="50px"></th>
                            <td>{{ item.servicio?.nombre }}</td>
                            <td width="260px">
                                <input (ngModelChange)="fecha(item)" [(ngModel)]="item.fecha_atencion" type="date"
                                    class="form-control">
                            </td>
                            <td>
                                <div class="">

                                    <button class="minus ml-2 white-text" mdbWavesEffect
                                        (click)="decrementCantidadServicio(item)">
                                        <mdb-icon class="m-auto" fas icon="minus">
                                        </mdb-icon>
                                    </button> {{ item.cantidad }}
                                    <button class="add mr-2" mdbWavesEffect (click)="incrementCantidadServicio(item)">
                                        <mdb-icon class="m-auto white-text" fas icon="plus"></mdb-icon>
                                    </button>


                                    <ng-template #Remove>
                                        <div>Eliminar</div>
                                    </ng-template>

                                </div>


                            </td>
                            <td>
                                <p class="mt-2"> S/.{{ item.cantidad * item.precio | number }}</p>
                            </td>
                            <td>
                                <button placement="right" triggers="hover" [mdbPopover]="Remove"
                                    class="remove white-text" mdbWavesEffect (click)="removeItemServicio(item)">
                                    <mdb-icon fas icon="trash"></mdb-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="d-flex col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="ml-auto mr-auto">
            <tr class="text-center">
                <td colspan="6"></td>
                <td style="font-weight: bold">
                    <p>Cantidad total: {{ cantidadTotal }}</p>
                    <p>Envio gratis</p>
                    <p>Precio Total: S/.{{ precioTotal | number}}</p>
                    <br>
                    <img src="../../../../assets/img/tarjetas-credito.jpg">
                    <br>
                    <button
                        [disabled]="(cartItems.detallePedidoServicio.length == 0 && cartItems.detallesProducto.length == 0)"
                        type="button" class="ml-auto" mdbBtn color="success" (click)="insertar()"
                        mdbWavesEffect>Confirmar pedido</button>
                </td>
            </tr>

        </div>
    </div>






    <div mdbModal #modalPago="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary text-white text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Pago de Cita</h4>
                </div>
                <div class="modal-body">
                    <div class="row col-12">
                        <form [formGroup]="myform" class="row col-12 me-auto ms-auto justify-content-center">
                            <fieldset class="row col-12">

                                <div class="md-form col-6">

                                    <input type="text" class="form-input form-control" mdbInput mdbValidate
                                        [(ngModel)]="creditNumber" onkeyup="$cc.validate(event)"
                                        placeholder="0000 0000 0000 0000" maxlength="19"
                                        [formControl]="creditNumberForm" required>
                                    <label class="pl-3">Nro. de Tarjeta</label>
                                </div>

                                <div class="md-form col-4">

                                    <input type="text" class="form-input form-control" mdbInput mdbValidate
                                        [(ngModel)]="creditExpiration" onkeyup="$cc.expiry.call(this,event)"
                                        maxlength="7" placeholder="mm/yyyy" [formControl]="creditExpirationForm"
                                        required>
                                    <label class="pl-3">Expiración</label>
                                </div>
                                <div class="md-form col-4">

                                    <input type="text" class="form-input form-control" mdbInput mdbValidate
                                        [(ngModel)]="creditCVV" maxlength="3" placeholder="xxx"
                                        [formControl]="creditCVVForm" required>
                                    <label class="pl-3">CVV</label>
                                </div>
                            </fieldset>
                        </form>


                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" mdbBtn color="secondary" class="waves-light" (click)="updatePago()"
                        mdbWavesEffect>
                        Pagar
                    </button>
                    <button type="button" mdbBtn color="secondary" class="waves-light" (click)="cerrarmodalPago()"
                        mdbWavesEffect>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>