* {
    margin: 0;
    padding: 0;
    border: 0;
}

.row {
    width: 100%;
}

.logoYnav {
    position: absolute;
    z-index: 100;
}

.logoPatazas {
    width: 100px;
    height: 100px;
    margin: 20px 0px 0px 20px;
}

.fotobanner {
    width: 100%;
    min-height: 100vh;
}

.navbar {
    margin-top: 20px;
}

a {
    color: #ffffff !important;
    margin-right: 25px;
    font-size: 20px;
}

a:hover {
    color: aqua !important;
}

#patazas {
    margin-right: 25px;
}

#patazas:hover {
    color: aqua !important;
}

.dropdown-item {
    color: #000000 !important;
}

.dropdown-item:hover {
    color: blue !important;
}


/*estilos de la pagina NuevoProducto*/

.contenedor {
    width: 90%;
    height: auto;
    margin: auto;
}

.h4tit {
    font-size: 30px;
    color: #11C5D9;
}

.form-control {
    width: 500px;
    margin-bottom: 20px;
    box-shadow: 5px 8px 15px #cdd7db;
}

.btnRegistra {
    width: 130px;
    height: 35px;
    background-color: #2c40f7e8;
    border-color: none;
    color: #FFFFFF;
    border-radius: 10px;
}

.btnRegistra:hover {
    background-color: #11C5D9;
    color: #FFFFFF;
}

#cargaFoto {
    position: relative;
    width: 50px;
    height: 40px;
    padding: 0px;
}

#idFoto {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin-top: -20px;
}

#idFoto:hover {
    cursor: pointer !important;
}

#imagePreview {
    height: 400px;
    border: 1px solid blue;
}


/*Estilos para los servicios*/

.imgservicios {
    display: block;
    margin: auto;
    width: 85%;
    height: 580px;
}


/*estilos para el registra*/