<div class="container-fluid mt-5">
    <!--button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Usuario
  </button*-->
    <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="openModalCrud('agregar')" mdbWavesEffect>Agregar Mascota</button>
    <!--input type="button" class="btn btn-primary crud" value="Agregar Mascota" (click)="openModalCrud(mymodal, 'agregar')" /-->

    <div class="card border-primary mb-5 container-fluid mt-5">
        <div class="card-header row text-primary">
            <h2>Mi Mascota</h2>
        </div>

        <div class="card-body text-secondary table-responsive">
            <table class="table table-responsive-md">
                <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">FOTO</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">RAZA</th>
                        <th scope="col">FECHA DE NACIMIENTO</th>
                        <th scope="col">SEXO</th>
                        <th scope="col">TIPO DE MASCOTA</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="text-center" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_VENDEDOR')">
                    <tr *ngFor="let mascota of mascotas; let i = index">
                        <th class="align-middle">{{ mascota.idmascota }}</th>
                        <th class="align-middle"><img class="photo" (click)="modalDetail(mascota)" [src]="mascota.foto != null ? mascota.foto : myImgUrl" width="50px" height="50px"></th>
                        <td class="align-middle">{{ mascota.nombre }}</td>
                        <td class="align-middle">{{ mascota.raza }}</td>
                        <td class="align-middle">{{ mascota.fecha_nacimiento }}</td>
                        <td class="align-middle">{{ mascota.sexo }}</td>
                        <td class="align-middle">{{ mascota.tipomascota.descripcion }}</td>
                        <td class="align-middle">
                            <mdb-icon (click)="openModalCrud('editar', mascota.idmascota)" type="button" fas size="2x" icon="edit"></mdb-icon>
                        </td>
                        <!--td class="text-center">
                            <mdb-icon (click)="delete(mascota)" type="button" fas size="2x" icon="user-alt"></mdb-icon>
                            <p>Estado</p>
                        </td-->
                    </tr>
                </tbody>

                <tbody class="text-center" *ngIf="authService.hasRole('ROLE_CLIENTE')">
                    <tr *ngFor="let mascota of mascotasDeCliente; let i = index">
                        <th class="align-middle">{{ mascota.idmascota }}</th>
                        <th class="align-middle"><img class="photo" (click)="modalDetail(mascota)" [src]="mascota.foto != null ? mascota.foto : myImgUrl" width="50px" height="50px"></th>
                        <td class="align-middle">{{ mascota.nombre }}</td>
                        <td class="align-middle">{{ mascota.raza }}</td>
                        <td class="align-middle">{{ mascota.fecha_nacimiento }}</td>
                        <td class="align-middle">{{ mascota.sexo }}</td>
                        <td class="align-middle">{{ mascota.tipomascota.descripcion }}</td>
                        <td class="text-center">
                            <mdb-icon (click)="openModalCrud('editar', mascota.idmascota)" type="button" fas size="2x" icon="edit"></mdb-icon>

                            <p>Editar</p>

                        </td>
                        <!--td class="text-center" >
                            <mdb-icon (click)="delete(mascota)" type="button" fas size="2x" icon="user-alt"></mdb-icon>
                            <p>Estado</p>
                        </td-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p>{{ clienteLog | json }}</p>




<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center cyan">
                <h4 class="modal-title w-100 font-weight-bold text-white">{{titulo}}</h4>

            </div>
            <div class="modal-body mx-3">

                <form [formGroup]="myform" class="container me-auto ms-auto justify-content-center">
                    <fieldset class="p-5" formGroupName="name">
                        <div class="form-group ">
                            <input type="text" class="form-input" [(ngModel)]="mascota.idmascota" formControlName="IdMascota" required hidden />
                            <div class="form-control-feedback" *ngIf="
                IdMascota.errors && (IdMascota.dirty || IdMascota.touched)
              ">
                                <p class="alert alert-danger" role="alert" *ngIf="IdMascota.errors.required">
                                    Last Name is required
                                </p>
                            </div>
                        </div>


                        <div class="form-group d-flex justify-content-center mb-5">

                            <label for="photo" class="photo">        
                                <img class="foto" [src]="mascota.foto"></label>


                            <input type="file" id="photo" (change)="showPreviewImage1($event)" name="foto" required class="form-control" hidden>

                        </div>


                        <div class="form-group col-12">
                            <label>Nombres</label>
                            <input type="text" class="form-input form-control" id="nomForm" [(ngModel)]="mascota.nombre" formControlName="Nombres" required />

                            <div class="form-control-feedback">
                                <p class="alert alert-danger" *ngIf="
                  (Nombres.errors?.required && submitted) ||
                  ((Nombres.dirty || Nombres.touched) && Nombres.invalid)
                ">
                                    Nombres is required
                                </p>
                                <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <label>Raza</label>
                            <input type="text" class="form-input form-control" [(ngModel)]="mascota.raza" formControlName="Raza" required />
                            <div class="form-control-feedback">
                                <p class="alert alert-danger" *ngIf="
                  (Raza.errors?.required && submitted) ||
                  ((Raza.dirty || Raza.touched) && Raza.invalid)
                ">
                                    Raza is required
                                </p>
                                <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <label>Fecha de Nacimiento</label>
                            <input type="date" class="form-input form-control" [(ngModel)]="mascota.fecha_nacimiento" formControlName="FechaNacimiento" required />
                            <div class="form-control-feedback">
                                <p class="alert alert-danger" *ngIf="
                  (FechaNacimiento.errors?.required && submitted) ||
                  ((FechaNacimiento.dirty || FechaNacimiento.touched) && FechaNacimiento.invalid)
                ">
                                    FechaNacimiento is required
                                </p>
                                <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <label>Sexo</label>



                            <select id="select-option" class="form-control pl-3 pr-3" [(ngModel)]="mascota.sexo" formControlName="Sexo" required>                         
                                <option  [ngValue]="null" selected>--- selecionar un sexo ---</option>
                                    <option *ngFor="let est of sexo"  [ngValue]="est.value">{{est.descripcion}} </option>
                                   
                               
                        |</select>



                            <div class="form-control-feedback">
                                <p class="alert alert-danger" *ngIf="
                  (Sexo.errors?.required && submitted) ||
                  ((Sexo.dirty || Sexo.touched) && Sexo.invalid)
                ">
                                    Sexo is required
                                </p>
                                <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                            </div>
                        </div>


                        <div class="form-group col-12">
                            <label>Estado</label>



                            <select id="select-option" class="form-control pl-3 pr-3" [(ngModel)]="mascota.estado" formControlName="Estado" required>                         
                                <option  [ngValue]="null" selected>--- seleciona el de tu mascota estado ---</option>
                                    <option *ngFor="let est of status"  [ngValue]="est.value">{{est.descripcion}} </option>
                                   
                               
                        |</select>



                            <div class="form-control-feedback">
                                <p class="alert alert-danger" *ngIf="
                  (Estado.errors?.required && submitted) ||
                  ((Estado.dirty || Estado.touched) && Estado.invalid)
                ">
                                    Estado is required
                                </p>
                                <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                            </div>
                        </div>









                        <div class="form-group col-12">
                            <label>Tipo de Mascota</label>

                            <select class="form-control" [(ngModel)]="mascota.tipomascota" [compareWith]="compareTipomascota" formControlName="TipoMascota" required>
              <option [ngValue]=null selected>
                --- selecionar el Tipo ---
              </option>
              <option *ngFor="let tipo of tipomascota" [ngValue]="tipo">
                {{ tipo.descripcion }}
              </option>
            </select>
                            <div class="form-control-feedback">
                                <p class="alert alert-danger" *ngIf="
  (TipoMascota.errors?.required && submitted) ||
  ((TipoMascota.dirty || TipoMascota.touched) && TipoMascota.invalid)
">
                                    Tipo is required
                                </p>
                                <!--div class="alert alert-success" *ngIf="Nombres.valid && (Nombres.dirty && Nombres.touched)">Campo valido</div-->
                            </div>
                        </div>
                        <input type="" class="" value="{{mascota.usuario | json}}" name="usuario" hidden>
                    </fieldset>

                    <!--div class="col-12 btn-submit">
                        {{mascota.cliente | json}}
                    </div-->
                </form>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" color="secondary" mdbBtn mdbWavesEffect class="waves-light" aria-label="Close" (click)="cerrarmodal()">
                    Cancelar
                  </button>

                <button type="submit" color="secondary" mdbBtn mdbWavesEffect class="waves-light" (click)="verificarDatos()" *ngIf="mascota.idmascota == 0; else elseBlock">
                    Registrar
                  </button>

                <ng-template #elseBlock>
                    <button type="" role="button" color="secondary" mdbBtn mdbWavesEffect class="waves-light" (click)="verificarDatos()" class="btn m-4" [disabled]="myform.invalid">
                      Actualizar
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>



<div mdbModal #modalDetalle="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header cyan text-white text-center">
                <h4 class="modal-title w-100 font-weight-bold">DETALLE MASCOTA</h4>

            </div>
            <div class="modal-body">

                <div class="row col-12 mb-auto mt-auto">


                    <div class="col-6">
                        <h1 [innerHTML]="mascota.nombre"></h1>

                        <h4>Raza: {{ mascota.raza }}</h4>

                    </div>


                    <div class="col-6 text-center">
                        <label class="photo">        
                        <img class="foto" [src]="mascota.foto != null ? mascota.foto : myImgUrl"></label>
                    </div>

                </div>



            </div>
            <div class="modal-footer  d-flex justify-content-center">
                <button type="button" mdbBtn color="secondary" class="waves-light" (click)="cerrarmodalDetalle()" mdbWavesEffect>Cerrar</button>

            </div>
        </div>
    </div>
</div>