<div class="row col-12 d-inline-flex justify-content-center p-5">
    <div class="card row col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card-body">

            <mdb-carousel class="carousel slide carousel-fade p-0 m-0" [animation]="'fade'">
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" [attr.src]="(producto.foto1 != null || producto.foto1 != undefined) ? producto.foto1 : imgNotFound" alt="First slide">
                    </div>

                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" [attr.src]="(producto.foto2 != null || producto.foto2 != undefined) ? producto.foto2 : imgNotFound" alt="Second slide">
                    </div>

                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" [attr.src]="(producto.foto3 != null || producto.foto3 != undefined) ? producto.foto3 : imgNotFound" alt="Third slide">
                    </div>

                </mdb-carousel-item>
            </mdb-carousel>
        </div>
        <!--div class="d-flex">
            <button mdbBtn color="primary" mdbWavesEffect marcador="1">+</button>
            <button mdbBtn color="danger" mdbWavesEffect marcador="1">-</button>
        </div-->
    </div>



    <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex m-4">
        <div class="col-12">
            <h2>{{ producto.nombre }}</h2>
            <h2 [innerHTML]="nomMarca"></h2>
            <hr>
            <h3>Indicaciones</h3>
            <div [innerHTML]="descripcion"></div>
        </div>
        <div class="col-12">
            <h2>Carrito</h2>
            <!-- Elementos del carrito -->
            <ul id="carrito" class="list-group"></ul>
            <hr>
            <!-- Precio total -->
            <h5 class="text-right">Cantidad : <span id="total"></span> 1</h5>
            <h5 class="text-right">Total: <span id="total"></span>S/.{{ producto.precio }}</h5>
            <button id="btn-agregar" (click)="addToCart()" mdbBtn color="primary" mdbWavesEffect>Agregar a la bolsa</button>
        </div>
    </div>
</div>

<div (click)="acordionDescripcion()" class="col-10 mr-auto ml-auto form-control d-flex bg-light">
    <h5><i class="fas fa-edit"></i> Descripción del Producto</h5>
    <mdb-icon class="float-right align-middle ml-auto  mb-auto mt-auto" fas icon="plus"></mdb-icon>
</div>



<div class="row mr-auto ml-auto col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 d-flex collapsible" [@enterAnimation]="descProduct">
    <div class="col-12">
        <h2>{{ producto.nombre }}</h2>
        <h2 [innerHTML]="nomMarca"></h2>
        <hr>
        <h3>Indicaciones</h3>
        <div [innerHTML]="descripcion"></div>
    </div>
</div>


<div (click)="acordionEspecificaciones()" class="col-10 mr-auto ml-auto form-control d-flex bg-light">
    <h5><i class="fas fa-edit"></i> Especificaciones del Producto</h5>
    <mdb-icon class="float-right align-middle ml-auto  mb-auto mt-auto" fas icon="plus"></mdb-icon>
</div>

<div class="row mr-auto ml-auto col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 d-flex collapsible" [@enterAnimation]="especProduct">
    <div class="col-12">
        <h2>{{ producto.nombre }}</h2>
        <h2 [innerHTML]="nomMarca"></h2>
        <hr>
        <h3>Indicaciones</h3>
        <div [innerHTML]="descripcion"></div>
    </div>
    <div class="col-12">
        <h2>Carrito</h2>
        <!-- Elementos del carrito -->
        <ul id="carrito" class="list-group"></ul>
        <hr>
        <!-- Precio total -->
        <h5 class="text-right">Cantidad : <span id="total"></span> 1</h5>
        <h5 class="text-right">Total: <span id="total"></span>S/.{{ producto.precio }}</h5>
        <button id="boton-vaciar" mdbBtn color="primary" mdbWavesEffect>Agregar a la bolsa</button>
    </div>
</div>

<hr class="p-1">